body {
    background-image: url("./hulu\ web\ page.jpg");
    color: #ffffff;
    background-color: #000000;
    line-height: 1.2;
    overflow-x: hidden;
    overflow-y: scroll;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    scroll-behavior: smooth;
}

.logo {
    width: 5%;
    height: 5%;
}
#p1{
    color: #00ed82;
    font-size: 13px;
    text-transform: uppercase;
    text-align: center;
}
.content {
    position: absolute;
    padding: 325px;
    margin-top: 370px;
    
}
h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 70px;
    font-weight: bold;
}

h3 {
    max-width: 850px;
    margin-bottom: 10px;
    font-size: 24px;
}
.library-h4{
    font-size: 14px;
    color: green;
}
.text-li{
    font-size: 60px;
    font-weight: bolder;
    letter-spacing: 0.1px;
}
.sub-text{
    max-width:850px;
    margin-bottom: 10px;
    font-size: 19px;
    width:750px;
}
.library{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content:space-around ;
    padding: 40px 40px;
    margin: auto;
    position: absolute;
    margin-top: 650px;
    max-width: 1200px;
}
.library .covers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin-top: 40px;
    gap:20px;
}
.library .covers > div{
    height: 400px;
    width: 265px;
    position: relative;
}
.library .cover-grad{
    background: linear-gradient(
    156.82deg,
    rgba(0, 0, 0, 0.6) 4.58%,
    rgba(0, 0, 0, 0) 69.61%
    ),
    linear-gradient(24.5deg, rgba(0, 0, 0, 0.2) 4.71%, rgba(0, 0, 0, 0) 71.49%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.library .cover-text {
    position: absolute;
    top: 20px;
    left: 20px;
    text-align: left;
}
.library .cover-1 {
    background: url('./image\ 1.jfif') no-repeat center center / cover;
}
.library .cover-2 {
    background: url('./image\ 2.jfif') no-repeat center center / cover;
}
.library .cover-3 {
    background: url('./image\ 3.jfif') no-repeat center center / cover;
}
.library .cover-4 {
    background: url('./image\ 4.jfif') no-repeat center center / cover;
}
.cover-sub-text{
    font-weight: bolder;
    line-height: 4px;
}
.sub-title{
    font-size: 15px;
}